.toast {
    position: fixed;
    top: 100px;
    right: 120px;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(60%);
    transition: opacity 0.5s, transform 0.5s;
    z-index: 999;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast.success { background-color: #4CAF50; }
.toast.error { background-color: #f44336; }